asgiref==3.6.0
Django==4.1.5
sqlparse==0.4.3
bpython==0.17.1
dj-database-url==0.5.0
django-extensions==2.1.6
django-heroku==0.1.0
gunicorn==19.9.0
idna==2.7
sentry-sdk==0.7.10
twilio==7.16.2
python-dotenv
# Django REST Framework
djangorestframework==3.14.0  # https://github.com/encode/django-rest-framework
django-cors-headers==3.13.0 # https://github.com/adamchainz/django-cors-headers
